<!DOCTYPE html>
<html lang="en">
  <head>

    {% block head %}
      <title>Git</title>
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <header>
      <div class="links">
        <a href="/">Sobre</a>
        <a href="/tutorial">Tutorial</a>
      </div>
    </header>
    
    {% block content %} {% endblock %}
    
  </body>
</html>